*{
  font-family: 'Fredoka One', cursive;
}

.login-form{
  display : flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.login-header{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 40px;
}

.login-header img{
  width: 150px;
  margin-bottom: 0px;
} 

.login-header h1{
  color : black;
  font-size: 2.5em;
}

.login-input{
  width:100%;
  max-width: 300px;
  border: 2px solid #333;
  border-radius : 8px;
  color: black;
  font-size: 1em;
  margin-bottom: 15px;
  padding: 15px;
}

.login-button{
  width:100%;
  max-width: 300px;
  background-color: Black;
  color:#fff;
  cursor: pointer;
  font-size: 1em;
  padding: 15px;
  border-radius: 8px;
}

.login-button:enabled{
  transform: scale(1.1);
  transition: 0.5s;
}

.login-button:disabled{
  background-color: #eee;
  color: #aaa;
  cursor: auto;
  transition: 0.5s;
}

footer{
  background: lightgrey;
  text-align : center;
  padding-top: 15px;
  padding-bottom: 9px;
}
#github, #linkedin{
  margin: 10px 10px 0px 10px; 
  display: flexbox;
  height: 40px;
}
#github:hover, #linkedin:hover{
  transform : scale(1.2);
  cursor : pointer;

}